:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-navy-blue);
  background-color: var(--color-white);
  font-size: 16px;
  letter-spacing: 0.02em;
}

input,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
  color: currentColor;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Page Studio */

.header {
}

.header-nav {
}

.header-nav__logo-blue {
  color: var(--color-iris);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-nav__logo-black {
  color: var(--color-navy-blue);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav__list {
}

.header-nav__item {
}

.header-nav__link {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--color-ocean);
}

.header-contacts__list {
}

.header-contacts__item {
}

.header-contacts__link {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--color-ocean);
}

.hero {
  background-color: var(--color-navy-blue);
}

.hero__title {
  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}

.hero__button {
  color: var(--color-white);
  background-color: var(--color-iris);
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--color-ocean);
}

.company {
}

.hidden {
}

.company__list {
}

.company__item {
}

.company__title {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.company__text {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.works {
}

.works__title {
  color: var(--color-navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.works__list {
}

.works__item {
}

.works__image {
}

.team {
  background-color: var(--color-cloud);
}

.team__title {
  color: var(--color-navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.team__list {
}

.team__item {
}

.team__image {
}

.team__specialist {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team__job-title {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.footer {
  background-color: var(--color-navy-blue);
}

.footer__logo-blue {
  color: var(--color-iris);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__logo-white {
  color: var(--color-cloud);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__text {
  color: var(--color-cloud);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* Page Portfolio */

.filter {
}

.hidden {
}

.filter__list {
}

.filter__item {
}

.filter__button {
  color: var(--color-iris);
  background-color: var(--color-cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
}

.filter__button:hover,
.filter__button:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: none;
}

.gallery {
}

.gallery__list {
}

.gallery__item {
}

.gallery__image {
}

.gallery__title {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.gallery__text {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
